import React, { Component } from 'react';

class {{ componentName }} extends Component {
  // constructor() {
  //  super();
  //  // this.handleChange = this.handleChange.bind(this);
  //  // this.handleClick = this.handleClick.bind(this);
  // }
  // handleChange(event) {
  //   this.props.onValueChange(event.currentTarget.value);
  // }
  // handleClick() {
  //   this.props.onElementClick();
  // }
  render() {
    return (
      <div>
      </div>
    );
  }
}

{{ componentName }}.propTypes = {
//   name: React.PropTypes.string.isRequired,
//   onElementClick: React.PropTypes.func.isRequired,
//   onValueChange: React.PropTypes.func.isRequired,
};

export default {{ componentName }};
